.tableOuterbox {
	min-height: 100%;
	max-width: 100%;
	background: $darkgray;
}

.tableContainer {
	margin: 3%;
	max-width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.header {
	text-align: center;
}
